* {
  border: none;
}

body {
  margin: 0;
}

.elemento-especifico {
  border: none;
}

/* Estilos para los botones */
.button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black; /* Añade una sombra de texto negra */
}

.button:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

.button:active {
  background-color: rgba(128, 128, 128, 0.2);
}

/* Estilos para el contenedor de los botones */
.button-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

/* Estilos para la imagen */
.image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 200px;
  background-image: url('assets/img/logo.png'); /* Reemplaza 'ruta-de-tu-imagen.png' con la ruta de tu imagen */
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.webgl {
  display: block;
  width: 100%;
  height: 100%;
}